In [1]:
## Import Dependencies 

import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from sklearn import linear_model
import import_ipynb
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import seaborn as sns

## Import Functions from other Jupyter Notebooks

from Garrett_notebook import scatter_graph
from Harry_notebook import bar_plt
from Mike_notebook import bubble1, bubble2

importing Jupyter notebook from Garrett_notebook.ipynb
importing Jupyter notebook from Harry_notebook.ipynb
importing Jupyter notebook from Mike_notebook.ipynb

In [2]:
## Import all clean data
gov_corruption_df = pd.read_csv('clean data/cpi_2019.csv')
generosity_df = pd.read_csv('clean data/global_generosity_score.csv')
human_freedom_df = pd.read_csv('clean data/hf_score.csv')
life_expectancy_df = pd.read_csv('clean data/lifeexp.csv')
education_df = pd.read_csv('clean data/clean_edu.csv')
gdp_df = pd.read_csv('clean data/Updated_GDP.csv')
happy_df = pd.read_csv('clean data/happy_score.csv')

In [3]:
## Clean up happy score dataframe for merge
happy_df = happy_df.rename(columns={'Country or region':'Country','Score':'Happiness Score'})
#happy_df

In [4]:
## Clean up generosity dataframe for merge
generosity_df = generosity_df.drop('Unnamed: 0',axis=1)
clean_gen_df = generosity_df.rename(columns={'country':'Country','overallScore':'Generosity Score'})
clean_gen_df = clean_gen_df.sort_values('Country')
clean_gen_df = clean_gen_df.reset_index(drop=True)
#clean_gen_df

In [5]:
## Clean up corruption dataframe for merge
clean_corrupt_df = gov_corruption_df.sort_values('Country')
clean_corrupt_df = clean_corrupt_df.reset_index(drop=True)
#clean_corrupt_df

In [6]:
## Clean up gdp dataframe for merge
gdp_df = gdp_df.rename(columns={'Country Name':'Country','Country Code':'Region','2019':"GDP"})
gdp_df = gdp_df[['Country',"GDP"]]
#gdp_df

In [7]:
## Clean up freedom dataframe for merge
human_freedom_df = human_freedom_df.rename(columns={'countries':'Country','region':'Region','hf_score':'Human Freedom Score'})
#human_freedom_df

In [8]:
## Clean up education dataframe for merge
education_df = education_df.rename(columns={'Data Source':'Country','Rate':'Education'})
#education_df

In [9]:
## merge dataframes into final data frame for analysis
merge_1 = pd.merge(clean_corrupt_df,clean_gen_df,how='outer',on='Country')
merge_2 = pd.merge(merge_1,human_freedom_df,how='outer',on='Country')
merge_3 = pd.merge(merge_2,life_expectancy_df,how='outer',on='Country')
merge_4 = pd.merge(merge_3,education_df,how='outer',on='Country')
merge_5 = pd.merge(merge_4,gdp_df,how='outer',on='Country')
final_data_df = pd.merge(merge_5,happy_df,how='outer',on='Country')

In [10]:
## Organize and define columns
final_data_df = final_data_df[['Country','Region','Happiness Score','CPI score 2019','Generosity Score',
                               'Human Freedom Score','Life Expectancy','Education','GDP']]

## Drop Countries with NaN in columns
final_data_df = final_data_df.dropna(axis=0,how='any')

## Use this data frame for analysis
final_data_df = final_data_df.reset_index(drop=True)

## Use this data frame for visualization
formatted_data_df = final_data_df.reset_index(drop=True)

In [11]:
formatted_data_df['Education'] = formatted_data_df['Education'].apply(lambda x: "{:.2f}%".format((x/1)))
formatted_data_df['GDP'] = formatted_data_df['GDP'].apply(lambda x: "${:.2f}k".format((x/1000)))
formatted_data_df

,Country,Region,Happiness Score,CPI score 2019,Generosity Score,Human Freedom Score,Life Expectancy,Education,GDP
0,Albania,ECA,4.719,35.0,23.0,7.81,78.0,94.15%,$5.35k
1,Argentina,AME,6.086,45.0,28.0,7.05,76.6,89.30%,$9.91k
2,Armenia,ECA,4.559,42.0,21.0,7.69,76.0,90.51%,$4.62k
3,Austria,WE/EU,7.246,77.0,45.0,8.45,81.6,97.13%,$50.14k
4,Azerbaijan,ECA,5.208,30.0,24.0,6.29,71.4,86.94%,$4.79k
...,...,...,...,...,...,...,...,...,...
83,Ukraine,ECA,4.332,30.0,24.0,6.45,73.0,96.16%,$3.66k
84,United Arab Emirates,MENA,6.825,71.0,45.0,6.17,76.1,78.31%,$43.10k
85,United States,AME,6.892,69.0,58.0,8.44,78.5,104.12%,$65.30k
86,Zambia,SSA,4.107,34.0,39.0,6.71,62.5,54.77%,$1.31k
87,Zimbabwe,SSA,3.663,24.0,29.0,5.59,60.7,71.13%,$1.46k

In [12]:
summary_df = final_data_df.describe()
summary_df

,Happiness Score,CPI score 2019,Generosity Score,Human Freedom Score,Life Expectancy,Education,GDP
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,5.477318,45.715909,32.386364,7.135114,73.755682,77.770292,15716.451022
std,1.066661,17.606131,9.628062,0.957498,6.821886,25.787760,21845.016762
min,3.334000,20.000000,16.000000,5.290000,59.600000,15.502936,411.552340
25%,4.552750,32.000000,24.750000,6.517500,68.675000,58.196241,1670.364002
50%,5.449500,41.000000,31.000000,7.045000,75.050000,89.023028,6306.250015
75%,6.230500,56.500000,39.000000,7.960000,79.300000,97.053737,19587.374693
max,7.769000,87.000000,58.000000,8.820000,83.400000,111.001115,114704.594171

In [13]:
plt.style.use('fivethirtyeight')
#print(plt.style.available)

## Graphs for Visualization

In [ ]:
x=final_data_df['CPI score 2019']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
x=final_data_df['Generosity Score']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
x=final_data_df['Human Freedom Score']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
x=final_data_df['Life Expectancy']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
x=final_data_df['Education']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
x=final_data_df['GDP']
y=final_data_df['Happiness Score']

scatter_graph(x,y)

In [ ]:
## import regression summary data frame for analysis

regress_summary_df = pd.read_csv('clean data/regression_summary.csv')
regress_summary_df

In [ ]:
bar_plt(x,y)

In [ ]:
bubble1()

In [ ]:
bubble2()

In [ ]:
region_group_df = final_data_df.groupby('Region').mean()
region_group_df

In [ ]:
region_group_df.groupby('Region')['GDP'].agg(lambda x: sum(x)).plot(kind='pie',title='Region GDP plot',
                                                                             figsize=(20,7))

In [ ]:
#scatter plot to show Happinesss vs LIfe expectancy corrlate with GDP.
# trace1

print('Happiness Score vs. Life Expectancy vs. GDP\nx = Happiness Score\ny = Life Expectancy\nz = GDP\n\n')
trace1 = go.Scatter3d(
    x=region_group_df['Happiness Score'],
    y=region_group_df['Life Expectancy'],
    z=region_group_df['GDP'],
    mode='markers',
    name = "Region Data",
    marker=dict(
        color='rgb(217, 100, 100)',
        size=12,
        line=dict(
            color='rgb(255, 255, 255)',
            width=0.1
        )
    )
)
data = [trace1]
layout = go.Layout(
    title = 'Region Data',
    margin=dict(
        l=0,
        r=0,
        b=0,
        t=0
    )
)

fig = go.Figure(data=data, layout=layout)
fig.show()